a { 
	color: inherit; 
} 

.text-group-box {
	width:30%;
	margin:auto;
}
.info-text-group-box{
	padding-top: 5%;
	padding-left: 30%;
}

.vertical-center {
	display: flex;
	align-items: center;

}


.bigger-font {
	font-size: 22px;
}

.min-temperature{
	color:#43C2E3;/*blue*/
}

.max-temperature{
	color:#B22222;/*Vine*/
}

.windspeed {
	color:#11b24a;
}

.humidity {
	color:#046b93;
}

.empty-block{
	height:50%;
	background-image:url('../img/logo.png');
	background-repeat:no-repeat;
	background-position: center;
}

.half-empty-block{
	height:25%;
}

.smaller-font{
	font-size:18px;
}

.fade{
	opacity:1;
}

.fade.ng-enter {
  transition:0.5s linear all;
  opacity:0;
}

/* The finishing CSS styles for the enter animation */
.fade.ng-enter.ng-enter-active {
  opacity:1;
}

      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
  height: 100%;
}
