a { 
	color: inherit; 
} 

.vertical-center {
	display: flex;
	align-items: center;
}

.min-temperature{
	color:#43C2E3;/*blue*/
}

.max-temperature{
	color:#B22222;/*Vine*/
}

.empty-block{
	height:50%;
	background-image:url('../img/logo.png');
	background-repeat:no-repeat;
	background-position: center;
}

.half-empty-block{
	height:25%;
}

.smaller-font{
	font-size:20px;
}

.footer{
	position:absolute;
	bottom:0;
	width:100%;
	height:70px;
	background-color: 	#6495ED;
}

.footer-container{
	margin-top:9px;
}

.footer-text{
	color:#000;
	font-family: "Menphis"
}