<div class="container">
<div class="form-group row col-md-6 col-md-offset-3">
  <h2>Create Account</h2>
  <form>
  <div class="form-group row">
  		<label for="name">Name:</label>
  		<input type="text" class="form-control" id="name"> 	
  </div>
  <div class="form-group row">
    	<label for="email">Email address:</label>
    	<input type="email" class="form-control" id="email">
     </div>
  <div class="form-group row">
    	<label for="pwd">Password:</label>
	  	<input type="password" class="form-control" id="password">
  </div>
  <div class="form-group row">
	  	<label for="pwd2">Confirm Password:</label>
	  	<input type="password" class="form-control" id="passwordC">
  </div>
  
  <button type="submit" class="btn btn-primary center-block">Create AngularWeather Account</button> 
  <div class="form-group row">
  	<div class="text-center"><a href="./">Home</a></div>
  </div>
  </form>
</div>
</div>