<!DOCTYPE>

<html ng-app="angularWeather">

<head>
<title>Angular Weather</title>
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/style.css">
<script type="text/javascript" src="lib/angular.min.js"></script>
<script type="text/javascript" src="lib/angular-animate.min.js"></script>
<script type="text/javascript" src="js/controller.js"></script>


</head>

<body ng-controller="mainController">


<div class="container" ng-controller="mainController">
	<div ng-if="showImage" class="fade">
	<div class="custom-container" >
		<h5 >Result for {{resultText}}</h3>
		<img class="img-responsive center-block" src="img/{{tempo}}.jpg" >
		<h2 class="text-center">{{tempo}}</h2>
		<h2 class="text-center smaller-font" ><span class="min-temperature">Min</span> {{temperaturaMin}} Celsius</h2>
		<h2 class="text-center smaller-font" ><span class="max-temperature">Max</span> {{temperaturaMax}} Celsius</h2>
	</div>
	</div>
<div class="vertical-center">
	<!-- edit text -->
	<div class="row">
		<div ng-class="dynamicBlock"></div>

		<form  name="inputForm" class="input-group col-md-6 col-md-offset-3" ng-submit="searchWeather(city)">
			<input type="text" class="form-control" ng-model="city" placeholder="Name of the city..." required>
			<span class="input-group-btn" id="basic-addon2"><button class="btn btn-primary"  ng-disabled="inputForm.$invalid" ng-click="searchWeather(city)" >Search</a></span>
		</form>
	</div>
</div>
</div>

<footer class="footer">
<div class="container footer-container">
  	  <div class="col-md-6">
	  <p class="footer-text">Created by: Rogerio Takashi Hirata</p>
	  <p class="footer-text">Contact information: <a href="mailto:rogeriotakashi@hotmail.com">
	  rogeriotakashi@hotmail.com</a>.</p>
	  </div>

  	  <div class="col-md-6">
	  <p class="footer-text">Repository: <a href="https://github.com/rogeriotakashi/AngularWeather">github.com/rogeriotakashi/AngularWeather</a></p>
	  <p class="footer-text">Technologies used: Angular 1.6, JavaScript, Css, HTML5</p>
	  </div>
</div>

</footer>

</body>
</html>